#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


input{
  padding: 8px;
}

.addbtn{
  margin-top: 5px;
  height: 40px;
  width: 80px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.addbtn:hover{
  background-color: green;
}

span{
  font-size: 22px;
}


.delete-btn{
  margin-left: 10px;
  height: 20px;
  width: 65px;
  background-color: tomato;
  border-radius: 5px;
  cursor: pointer;
}
.delete-btn:hover{
  background-color: red;
}
